name: VBA GX Build

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # image: ["Wii", "GameCube"]
        image: ["Wii"] # only for Wii
    container: devkitpro/devkitppc:latest

    steps:
    - name: Install packages
      run: |
        sudo dkp-pacman-key --recv-keys C8A2759C315CFBC3429CC2E422B803BA8AA3D7CE --keyserver keyserver.ubuntu.com
        sudo dkp-pacman-key --lsign-key C8A2759C315CFBC3429CC2E422B803BA8AA3D7CE
        sudo sed -i '/^\[dkp-libs\]$/,$d' /opt/devkitpro/pacman/etc/pacman.conf
        sudo echo -e '[extremscorner-devkitpro]\nServer = https://packages.extremscorner.org/devkitpro/linux/$arch' >> /opt/devkitpro/pacman/etc/pacman.conf
        sudo dkp-pacman -Sy
        sudo dkp-pacman -S --noconfirm --ask 4 gamecube-tools-git libogc2 libogc2-libdvm

    - name: Checkout vbagx repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Build Wii
      if: ${{ matrix.image == 'Wii' }}
      run: |
        make -f Makefile.wii -j1

    - name: Copy Wii artifacts
      if: ${{ matrix.image == 'Wii' }}
      run: |
        ##### ./apps/vbagx #####
        mkdir -p dist/VbaGX/apps/vbagx
        cp executables/vbagx-wii.dol dist/VbaGX/apps/vbagx/boot.dol
        # cp fonts/en.ttf dist/VbaGX/apps/vbagx/
        cp fonts/jp.ttf dist/VbaGX/apps/vbagx/
        cp fonts/ko.ttf dist/VbaGX/apps/vbagx/
        cp fonts/zh.ttf dist/VbaGX/apps/vbagx/
        cp hbc/icon.png dist/VbaGX/apps/vbagx/
        cp hbc/meta.xml dist/VbaGX/apps/vbagx/
        ##### ./vbagx  #####
        mkdir -p dist/VbaGX/vbagx/artwork
        touch dist/VbaGX/vbagx/artwork/artworkdir
        mkdir dist/VbaGX/vbagx/cheats        
        touch dist/VbaGX/vbagx/cheats/cheatsdir
        mkdir -p dist/VbaGX/vbagx/covers
        touch dist/VbaGX/vbagx/covers/coversdir
        mkdir dist/VbaGX/vbagx/roms        
        touch dist/VbaGX/vbagx/roms/romsdir
        mkdir dist/VbaGX/vbagx/saves
        touch dist/VbaGX/vbagx/saves/savesdir        
        mkdir -p dist/VbaGX/vbagx/screenshots
        touch dist/VbaGX/vbagx/screenshots/screenshotsdir  

    - name: Upload Wii artifacts
      uses: actions/upload-artifact@v4
      if: ${{ matrix.image == 'Wii' }}
      with:
        name: VbaGX
        path: |
         dist/VbaGX/

    - name: Build GameCube
      if: ${{ matrix.image == 'GameCube' }}
      run: |
        make -f Makefile.gc -j1

    - name: Copy GameCube artifact
      if: ${{ matrix.image == 'GameCube' }}
      run: |
        mkdir -p dist/VbaGX-GameCube
        cp executables/vbagx-gc.dol dist/VbaGX-GameCube/

    - name: Upload GameCube artifact
      uses: actions/upload-artifact@v4
      if: ${{ matrix.image == 'GameCube' }}
      with:
        name: VbaGX-GameCube
        path: |
         dist/VbaGX-GameCube/

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/world'

    steps:
    - name: Checkout vbagx repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        path: dist

    - name: Re-zip artifacts
      run: |
        cd dist/VbaGX
        zip -r VbaGX.2.4.8.world.zip ./apps ./vbagx
        # zip -r VbaGX-GameCube.zip VbaGX-GameCube

    - name: Update Git Tag
      run: |
        git tag -f Pre-release
        git push -f origin Pre-release

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        prerelease: true
        allowUpdates: true
        removeArtifacts: true
        replacesArtifacts: false
        tag: Pre-release
        artifacts: "dist/VbaGX/*.zip"
